.grid-container {
  display: grid;
  grid-template: 200px 200px/ 200px 200px;
}
.intro {
  background-color: aqua;
  grid-area: intro;
}
.navi {
  background-color: aquamarine;
  grid-area: intro;
}
.about {
  background-color: aquamarine;
  grid-area: about;
}
.main {
  background-color: aqua;
  grid-area: main;
}
.footer {
  background-color: aqua;
  grid-area: footer;
}
